doctype html
html
	head
		title= title
		link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
		link(type='text/css', rel='stylesheet', href='/stylesheets/pace.css')
		link(type='text/css', rel='stylesheet', href='/font-awesome-4.1.0/css/font-awesome.min.css')

		script(type='text/javascript', src='/javascripts/pace.min.js')
		script(type='text/javascript').
			var local_data =!{JSON.stringify(login)};
			var local_instrument =!{JSON.stringify(instrument)};

		script(type='text/javascript', src='/javascripts/jquery-1.11.1.min.js')
		script(type='text/javascript', src='/javascripts/jquery.knob.js')
		script(type='text/javascript', src='/socket.io/socket.io.js')
		script(type='text/javascript', src='/javascripts/tuna.js')
		script(type='text/javascript', src='/javascripts/audiobus.js')
		script(type='text/javascript', src='/javascripts/howler.js')
		script(type='text/javascript', src='/javascripts/oscillator.js')
		script(type='text/javascript', src='/javascripts/samplePlayer.js')
		script(type='text/javascript', src='/javascripts/grid.js')
		script(type='text/javascript', src='/javascripts/clientSocket.js')
		script(type='text/javascript', src='/javascripts/script.js')

	body
		block content			
			div#master				
				div.containerRemote.containerRemote0.centered
					p.remoteName
					div#padContainerRemote0
					div#printGridRemote

				div.containerRemote.containerRemote1
					p.remoteName
					div#padContainerRemote1
					div#printGridRemote

				div.containerRemote.containerRemote2
					p.remoteName
					div#padContainerRemote2
					div#printGridRemote

				div.containerLocal.centered
					h1= login
					div#padContainerLocal
					div#printGridLocal		
					button(id="logout").
						Logout				